.sign {
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 116%;
    align-items: center;
    color: #1C1C21;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.score {
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 116%;
    align-items: center;
    color: #1C1C21;
    margin: 10px 0 10% 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vw;
}

.scoreContainer {
    width: 45%;
    height: 25%;
    margin: 0 0 5% 0;
}

.link {
    text-decoration: none;
    text-align: center;
}

.button {
    width: 35%;
    height: 25%;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 116%;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background: #FF8B37;
    border-radius: 12px;
    border-color: rgba(201, 76, 76, 0);
}

@media screen and (max-width: 812px) {
    .container {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    .scoreContainer {
        width: 100%;
        height: 25%;
        margin: 0 0 5% 0;
        text-align: center;
    }
    .score {
        text-align: center;
        font-size: 28px;
    }
    .sign {
        font-size: 24px;
        font-weight: 600;
    }
    .button {
        font-size: 16px;
        font-weight: 400;
        line-height: 0;
        width: 90%;
        height: 30%;
    }
}