body {
  background-color: white;
}

.sign {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 116%;
  align-items: center;
  color: #1c1c21;
  margin: 10px 0 10% 0;
}

.container {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vw;
}

.scoreContainer {
  width: 45%;
  height: 25%;
  margin: 0 0 5% 0;
}

.link {
  text-decoration: none;
  text-align: center;
}

.button {
  width: 35%;
  height: 25%;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 116%;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: #ff8b37;
  border-radius: 12px;
  border-color: rgba(201, 76, 76, 0);
}

.triangle {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    #fff 0%,
    #fff 50%,
    #fff3eb 50%,
    #fff3eb 100%
  );
}

@media screen and (max-width: 812px) {
    body {
        background-color: #F5F5F7;
      }
  .container {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .scoreContainer {
    width: 100%;
    height: 50%;
    margin: 25% 0 5% 0;
    text-align: center;
  }
  .score {
    text-align: center;
    font-size: 5vw;
  }
  .sign {
    font-weight: 300;
    font-size: 24px;
  }
  .triangle {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom right,
      #fff 0%,
      #fff 50%,
      #fff3eb 50%,
      #fff3eb 100%
    );
  }
  .button {
    width: 90%;
    height: 15%;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: #ff8b37;
    border-radius: 12px;
    border-color: rgba(201, 76, 76, 0);
  }
}
