html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: Inter;
}

button:hover {
  background: #ffac70;
}

button:active {
  background: #e87928;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff") format("woff"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}